<div class="gf-form-group">
  <div class="gf-form">
    <h6>Headers Details</h6>
    <info-popover mode="header">Headers are encrypted and stored in the Grafana database.</info-popover>
  </div>
  <div class="gf-form-group">
    <div class="gf-form-inline" ng-repeat="header in headers">
      <div class="gf-form gf-form--v-stretch"><input type="text" required="true" class="gf-form-input width-7" ng-model="header.name" placeholder="Header Name"></div>
      <div class="gf-form" ng-if="!header.configured">
          <input type="text" required="true" class="gf-form-input" ng-model="header.value" placeholder="Header Value">
      </div>
      <div class="gf-form" ng-if="header.configured">
        <input type="text" class="gf-form-input max-width-12" disabled="disabled" value="configured" />
        <a class="btn btn-secondary gf-form-btn" href="#" ng-click="header.configured = false">reset</a>
      </div>
      <button type="button" class="gf-form btn btn-danger" ng-click='headers = headers.splice($index, 1)'><i class="fa fa-times"></i> Remove</button>
    </div>
    <div class="gf-form">
      <div class="gf-form-button-row">
        <button type="button" class="btn btn-primary" ng-click='headers.push({"name": "", "value": "", "configured": false})'><i class="fa fa-add"></i> Add Header</button>
      </div>
    </div>
  </div>
</div>
